@import "tailwindcss";

.shadow-custom {
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
}
.shadow-custom-lg {
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
}

.typewriter {
  overflow: hidden;
  border-right: 0.15em solid #8b5cf6;
  white-space: nowrap;
  width: 0;
  animation: typing 5s steps(44, end) forwards, blink-caret 0.75s step-end 4;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 44ch;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #8b5cf6;
  }
}
